<style>
  .title {
    color: #000000;
    font-weight: bold;
  }

  hr {
    border-top: 3px solid;
  }

  .form-group label {
    font-weight: bold;
    color: #343a40;
    margin-top: 30px;
  }

  .form-control {
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ced4da;
    color: black;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .table {
    background-color: white;
    border-radius: 10px;
  }

  .table th,
  .table td {
    vertical-align: middle;
  }

  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }

  /* Cách điệu cho phần chọn giới tính */
  .form-check-input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    accent-color: #007bff;
    /* Đổi màu radio buttons thành xanh dương */
  }

  .gender-label {
    font-size: 1.1rem;
    margin-right: 20px;
    color: #343a40;
    /* Đổi màu chữ thành đậm hơn */
  }

  .form-label {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #495057;
  }


</style>

<div class="container">
  <div class="row text-center">
    <h1 class="title">Tạo quản lý mới</h1>
  </div>
  <hr>
  <form action="/dangkyadmin" th:object="${user}" method="post">
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="username">Tên đăng nhập</label>
          <input type="text" class="form-control" id="username" name="ten">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" id="password" name="matKhau">
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="confirmPassword">Nhập lại mật khẩu</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirm-password">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Số điện thoại</label>
          <input type="sdt" class="form-control" id="sdt" name="sdt">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="email">Địa chỉ</label>
          <input type="diachi" class="form-control" id="diachi" name="diachi">
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-sm-2">
        <form action="dangnhapadmin" method="get">
        <button type="submit" class="btn btn-primary" id="submit">Tạo mới</button>
        </form>
      </div>
    </div>
  </form>
<!--  <hr class="my-4">-->

<!--  <div class="row text-center">-->
<!--    <h1 class="title">Danh sách quản lý</h1>-->
<!--  </div>-->

<!--  <div class="row">-->
<!--    <table class="table table-striped table-hover">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Tên quản lý</th>-->
<!--        <th scope="col">Email</th>-->
<!--        <th scope="col">Số điện thoại</th>-->
<!--        <th scope="col">Địa chỉ</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr th:each="admin : ${adminList}">-->
<!--        <td th:text="${admin.ten}"></td>-->
<!--        <td th:text="${admin.email}"></td>-->
<!--        <td th:text="${admin.SDT}"></td>-->
<!--        <td th:text="${admin.dia_chi}"></td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
</div>
